doctype html
html
  head
    title CWD Editor
    link(href="./public/styleSheet.css" rel="stylesheet" type="text/css")

    body
      <div id="glscButton">
      <header><b><u>GLSC View Messages</u></b></header>
      </div>

      BR
      <div id="lakeButton">
      <header><b><u>Lake View Messages</u></b></header>
      </div>

      BR
      <div id="airButton">
      <header><b><u>Air View Messages</u></b></header>
      </div>

      BR
      <div id="finalButtons"></div>

      script(type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js")
      script(src="./editor.js")
