doctype html
html
  head
    title Citywide Dashboard

    style(type="text/css").
      body,
      * {
        padding: 0;
        margin: 0;
        background-color: #76BF28
      }

      #map {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .draggable {
        cursor: move;
      }
    style

  body
    div(id="page-wrap")
        div(id="dashboard-wrap")
            div(id="map")
    script const activeGlyphs = !{activeGlyphsStr};
    script(src="./dist/cwd-bundle.js")
    script(src="./app.js")
