doctype html
html
  head
    title Citywide Dashboard
    link(href="./public/styleSheet.css" rel="stylesheet" type="text/css")

  body
    div(id="page-wrap")
      div(id="dashboard-wrap")
        div(id="map")
          svg(id="svg-wrap" xmlns="http://www.w3.org/2000/svg")
            defs
              filter(id="blur" x="0" y="0")
                feGaussianBlur(in="SourceGraphic" stdDeviation="15")
              filter(id="whiteGlow" x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" overflow="auto")
                feMorphology(operator="dilate" radius="50" in="SourceAlpha" result="thicken")
                feGaussianBlur(in="thicken" stdDeviation="40" result="blurred")
                feFlood(flood-color="rgb(232, 237, 105)" result="glowColor")
                feComposite(in="glowColor" in2="blurred" operator="in" result="softGlow_colored")
                feMerge
                  feMergeNode(in="softGlow_colored")
                  feMergeNode(in="SourceGraphic")
              filter(id="gaugeGlow" x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" overflow="auto")
                feMorphology(operator="dilate" radius="7" in="SourceAlpha" result="thicken")
                feGaussianBlur(in="thicken" stdDeviation="7" result="blurred")
                feFlood(flood-color="rgb(255,140,0)" result="glowColor")
                feComposite(in="glowColor" in2="blurred" operator="in" result="softGlow_colored")
                feMerge
                  feMergeNode(in="softGlow_colored")
                  feMergeNode(in="SourceGraphic")
            div(id="tooltip" display="none" style="position: absolute; display: none;")
              span(id="close" onclick="document.getElementById('tooltip').style.display='none'") X
            div(id="characterTriangle")
            div(id="characterText" style="display: none")
              p(id="characterTextP") Good day and welcome to Citywide Dashboard!

    script const activeGlyphs = !{activeGlyphsStr};
    script const API_URL = "!{api_url}";
    script(src="./dist/cwd-bundle.js")
    script(src="./app.js")
