doctype html
html
  head
    title Citywide Dashboard

    style(type="text/css").
      body,
      * {
        padding: 0;
        margin: 0;
      }

      #map {
        height: 80vh;
        width: 80vw;
      }

      .draggable {
        cursor: move;
      }

      .glow-on-hover:hover {
        filter: url(#glow);
        cursor: pointer;
      }
    style

  body
    div(id="page-wrap")
      div(id="dashboard-wrap")
        div(id="map")
          svg(id="svg-wrap" xmlns="http://www.w3.org/2000/svg")
            defs
              filter(id="glow" x="0" y="0")
                feGaussianBlur(in="SourceGraphic" stdDeviation="15")

    script const activeGlyphs = !{activeGlyphsStr};
    script(src="./dist/cwd-bundle.js")
    script(src="./app.js")
