doctype html
html
  head
    title Citywide Dashboard
    link(href="../public/styleSheet.css" rel="stylesheet" type="text/css")

  body
    div(id="page-wrap")
      div(id="dashboard-wrap")
        div(id="map")
          svg(id="svg-wrap" xmlns="http://www.w3.org/2000/svg")
            defs
              filter(id="blur" x="0" y="0")
                feGaussianBlur(in="SourceGraphic" stdDeviation="15")
              filter(id="whiteGlow" x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" overflow="auto")
                feMorphology(operator="dilate" radius="25" in="SourceAlpha" result="thicken")
                feGaussianBlur(in="thicken" stdDeviation="40" result="blurred")
                feFlood(flood-color="rgb(235,235,235)" result="glowColor")
                feComposite(in="glowColor" in2="blurred" operator="in" result="softGlow_colored")
                feMerge
                  feMergeNode(in="softGlow_colored")
                  feMergeNode(in="SourceGraphic")
            div(id="tooltip" display="none" style="position: absolute; display: none;")
              span(id="close" onclick="document.getElementById('tooltip').style.display='none'") X
            div(id="characterText" style="position: absolute")
              p This is a test this is a test this is a text

    script const activeGlyphs = !{activeGlyphsStr};
    script(src="./dist/cwd-bundle.js")
    script(src="./app.js")
